__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
node_modules/
.env.local
.DS_Store
*.log
.idea/
nodes/*/*
!nodes/*/@codenteam
!nodes/*/@ha-bits
dist
build
!nodes/script/
.env
cache
HISTORY.md
build
logs/
.nx
.github/instructions/intersect
sample-nodes
nohup.out
nohup*
.secrets
tmp
staging
certs


# Docs related stuff
docs/public/viewer/*
docs/public/downloads/*.zip
docs/.vitepress/.temp
docs/.vitepress/theme/data/
docs/public/showcase
docs/showcase
docs/bits
planning


# Tauri stuff
target/
habits-cortex/**/target/
habits-cortex/build-release.md
habits-cortex/private_keys
habits-cortex/release/*