
HABITS_OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>

HABITS_TWITTER_CLIENT_ID=<YOUR_TWITTER_CLIENT_ID>

HABITS_LINKEDIN_CLIENT_ID=<YOUR_LINKEDIN_CLIENT_ID>
HABITS_LINKEDIN_CLIENT_SECRET=<YOUR_LINKEDIN_CLIENT_SECRET>

# LinkedIn organization ID
HABITS_LINKEDIN_ORGANIZATION_ID=