<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Bluetooth permissions (for checking Bluetooth state in system settings) -->
    <!-- Commented out for initial release -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> -->
    
    <!-- DND requires access notification policy -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    
    <!-- Modify audio settings -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>
