HABITS_IMAP_HOST=
HABITS_IMAP_PORT=
HABITS_IMAP_USER=
HABITS_IMAP_PASSWORD=



HABITS_OPENAI_API_KEY=


HABITS_GOOGLE_SPREADSHEET_ID=

HABITS_GOOGLE_SHEETS_CLIENT_ID=
HABITS_GOOGLE_SHEETS_CLIENT_SECRET=


HABITS_OPENAPI_ENABLED=true
HABITS_MANAGE_ENABLED=true