HABITS_IMAP_HOST=imap.gmail.com
HABITS_IMAP_PORT=993
HABITS_IMAP_USER=your-email@gmail.com
HABITS_IMAP_PASSWORD=your-app-password

# OpenAI API key
HABITS_OPENAI_API_KEY=your-openai-api-key

# Telegram bot token and chat ID for send msg
HABITS_TELEGRAM_BOT_TOKEN=your-telegram-bot-token
HABITS_TELEGRAM_CHAT_ID=your-telegram-chat-id


HABITS_OPENAPI_ENABLED=true